body {
    font-size: 16px;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    color: #0099cb;
}

#buttons-holder {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 106px;
    padding: 10px;
    background: #ceeaff;
    z-index: 190;
    border-bottom: solid 3px #0099cb;
}

#rawData {
    margin-top: 120px;
}

#theCanvas {
    padding: 60px;
}

#mainGraph {
    position: relative;
    height: 200px;
    width: 650px;
}
#mainGraph5 {
    position: relative;
    height: 200px;
    width: 800px;
}
#mainGraphdfs {
    position: relative;
    height: 200px;
    width: 50px;
}

.wifiNetwork {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ffffff , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;
    font-size: 10px;
    text-align: center;

    z-index: 1;

    background: url('./2000px-parabola-bordered-lighter.png') no-repeat;

    background-size: 100% 100%;

    position: absolute;
    /*background: transparent;*/
    /*border: solid 1px #000;*/
    height: 0px;
    width: 150px;
    /*margin-left: -7.692307692307692%;*/
    margin-left: -50px;
    bottom: 0;
    left: 0;

    /*-webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -moz-border-radius-topleft: 500px;
    -moz-border-radius-topright: 500px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;*/

    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;*/

    /*opacity: .3;*/

}

.wifiNetwork.channel-1, .chan.channel-1, .wifiNetwork.channel-31 {
    left: 0;
}
.wifiNetwork.channel-2, .chan.channel-2, .wifiNetwork.channel-38  {
    left: 50px;
}
.wifiNetwork.channel-3, .chan.channel-3, .wifiNetwork.channel-40  {
    left: 100px;
}
.wifiNetwork.channel-4, .chan.channel-4 , .wifiNetwork.channel-42 {
    left: 150px;
}
.wifiNetwork.channel-5, .chan.channel-5,.wifiNetwork.channel-44  {
    left: 200px;
}
.wifiNetwork.channel-6, .chan.channel-6, .wifiNetwork.channel-46   {
    left: 250px;
}
.wifiNetwork.channel-7, .chan.channel-7, .wifiNetwork.channel-48 {
    left: 300px;
}
.wifiNetwork.channel-8, .chan.channel-8  {
    left: 350px;
}
.wifiNetwork.channel-9, .chan.channel-9, .wifiNetwork.channel-149 {
    left: 400px;
}
.wifiNetwork.channel-10, .chan.channel-10, .ifiNetwork.channel-151   {
    left: 450px;
}
.wifiNetwork.channel-11, .chan.channel-11, .wifiNetwork.channel-153   {
    left: 500px;
}
.wifiNetwork.channel-12, .chan.channel-12, .wifiNetwork.channel-155 {
    left: 550px;
}
.wifiNetwork.channel-13, .chan.channel-13, .wifiNetwork.channel-157  {
    left: 600px;
}
.wifiNetwork.channel-14, .chan.channel-14, .wifiNetwork.channel-159  {
    left: 650px;
}
.wifiNetwork.channel-15, .chan.channel-15, .wifiNetwork.channel-161  {
    left: 700px;
}
.wifiNetwork.channel-16, .chan.channel-16, .wifiNetwork.channel-165 {
    left: 750px;
}
.wifiNetwork.channel-dfs, .chan.channel-dfs {
    left: 0;
}

#key, #key5, #keydfs {
    position: relative;
    width: 100%;
}
.chan {
    position: absolute;
    top: 0;
    width: 50px;
    text-align: center;
}


#ghz2 {
    /*background: #ccc;*/
    width: 650px;
}
#ghz5 {
    /*background: #eee;*/
    width: 800px;
}
#dfs {
    width: 650px;
}
